<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.xiaomiquan">

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="20"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".base.Application"
        android:allowBackup="true"
        android:icon="@drawable/artboard"
        android:label="@string/app_name"
        android:launchMode="singleTop"
        android:roundIcon="@drawable/artboard"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon, android:theme">
        <activity android:name=".mvp.activity.user.LoginAndRegisteredActivity">
        </activity>
        <activity android:name=".mvp.activity.user.VerificationCodeActivity">
        </activity>
        <activity android:name=".mvp.activity.user.InputSetActivity">
        </activity>
        <activity android:name=".mvp.activity.main.MainActivity">
        </activity>
        <activity android:name=".mvp.activity.market.MarketDetailsActivity">
        </activity>
        <activity android:name=".mvp.activity.user.ConversationActivity">
        </activity>
        <activity
            android:name=".mvp.activity.main.WelcomActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".mvp.activity.user.SetActivity"/>
        <activity android:name=".mvp.activity.user.ChangeDefaultSetActivity"/>
        <activity android:name=".mvp.activity.user.SecurityActivity"/>
        <activity android:name=".mvp.activity.market.AddCoinActivity"/>
        <activity android:name=".mvp.activity.market.SearchCoinMarketActivity"/>
        <activity android:name=".mvp.activity.market.SortingUserCoinActivity"/>
        <activity android:name=".mvp.activity.main.WebActivityActivity"/>
        <activity android:name=".mvp.activity.market.CoinIndexActivity"/>
        <activity android:name=".mvp.activity.RichTextActivity">
        </activity>
        <activity android:name=".mvp.activity.circle.CreatCircleActivity"/>
        <activity android:name=".mvp.activity.circle.GetFriendsJoinActivity"/>
        <activity android:name=".mvp.activity.group.CreatGroupActivity"/>
        <activity android:name=".mvp.activity.group.GroupDealActivity"/>
        <activity android:name=".mvp.activity.group.CombinationActivity"/>
        <activity android:name=".mvp.activity.group.EditIntroductionActivity"/>
        <activity android:name=".mvp.activity.CustomRateActivity"/>
        <activity android:name=".mvp.activity.user.UserHomePageActivity"/>
        <activity android:name=".mvp.activity.market.CoinDetailActivity"/>
        <activity android:name=".mvp.activity.market.CoinMarketActivity"/>
        <activity android:name=".mvp.activity.user.HomePageActivity"/>
        <activity android:name=".mvp.activity.user.ChangeUserInfoActivity"/>
        <activity android:name=".mvp.activity.ShareHistoryTradingActivity"/>
        <activity android:name=".mvp.activity.circle.ReleaseDynamicActivity"/>
        <activity android:name=".mvp.activity.circle.ArticleActivity"/>
        <activity android:name=".mvp.activity.circle.BigVListActivity"/>
        <activity android:name=".mvp.activity.circle.CircleContentActivity"/>
        <activity android:name=".mvp.activity.circle.ReleaseArticleActivity" />
        <activity android:name=".mvp.activity.circle.MembersActivity" />
        <activity android:name=".mvp.activity.circle.ReleaseDynamicActivity" />
        <activity android:name=".mvp.activity.circle.TopicDetailActivity" />
        <activity android:name=".mvp.activity.circle.ArticleActivity" />
        <activity android:name=".mvp.activity.circle.CircleContentActivity" />
        <activity android:name=".mvp.activity.circle.JurisdictionActivity" />
        <activity android:name=".mvp.activity.circle.BigVListActivity" />
        <activity android:name=".mvp.activity.circle.LiveActivity" />
        <activity android:name=".mvp.activity.circle.PayCircleActivity" />
        <activity android:name=".mvp.activity.circle.CreatCodeActivity" />
        <activity android:name=".mvp.activity.circle.EditCircleActivity" />
        <activity android:name=".mvp.activity.circle.NewsActivity" />
        <activity android:name=".mvp.activity.circle.UserInfoActivity" />
        <activity android:name=".mvp.activity.circle.ArticleDetailsActivity" />
        <activity android:name=".mvp.activity.circle.NewsDetailActivity" />
        <activity
            android:name=".mvp.activity.main.WelcomActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>